<div class="p-grid">
    <div class="p-col-12">
        <h2 class="page-title">Ingresos</h2>
    </div>
    <div class="p-col-12 p-sm-6">
        <div class="card">
            <p-table #dt [value]="transformedData" dataKey="id" [rowHover]="true" [rows]="10"
                [totalRecords]="totalRecords" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
                [loading]="loading" [filterDelay]="0"
                [globalFilterFields]="['Importe', 'FormaPago','Concepto','CategoriaNombre','Cliente','Descripcion','Fecha','Cuenta','Persona']" [sortField]="'FechaCreacion'" [sortOrder]="-1">

                <ng-template pTemplate="caption">
                    <div class="grid datatable-header"
                        style="display: flex; justify-content: flex-start; align-items: flex-start;">
                        <!-- Botón Nuevo -->
                        <div class="field col-12 md:col-4" style="width:150px">
                            <p-button pRipple severity="success" [raised]="true" label="Nuevo" icon="pi pi-plus"
                                iconPos="right" class="mr-0 nuevo-button"
                                [routerLink]="['/ingresos/ingreso-detail', 0]"></p-button>
                        </div>

                        <!-- Botón Limpiar -->
                        <div class="field col-12 md:col-4" style="width:150px">
                            <p-button label="Limpiar" [outlined]="true" icon="pi pi-filter-slash" [raised]="true"
                                (click)="clear(dt)" class="search-input"></p-button>
                        </div>

                        <!-- Botón Exportar Excel -->
                        <div class="field col-12 md:col-4" style="width:200px; text-align: right;">
                            <p-button label="Exportar Excel" pRipple severity="info" [raised]="true"
                                icon="pi pi-file-excel" [disabled]="isButtonDisabled"
                                (click)="exportarAExcel()"></p-button>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="Fecha" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Fecha
                                <p-sortIcon field="Fecha" />
                                <p-columnFilter type="text" field="Fecha" display="menu" class="ml-auto"
                                    [matchModeOptions]="[
                                    { label: 'Contiene', value: 'contains' },
                                    { label: 'No contiene', value: 'notContains' },
                                    { label: 'Empieza con', value: 'startsWith' },
                                    { label: 'Termina con', value: 'endsWith' },
                                    { label: 'Es igual a', value: 'equals' },
                                    { label: 'No es igual a', value: 'notEquals' },
                                    { label: 'Es nulo', value: 'isNull' },
                                    { label: 'No es nulo', value: 'isNotNull' }
                                ]">
                                </p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="Persona" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Persona
                                <p-sortIcon field="Persona" />
                                <p-columnFilter type="text" field="Persona" display="menu" class="ml-auto"
                                    [matchModeOptions]="[
                                    { label: 'Contiene', value: 'contains' },
                                    { label: 'No contiene', value: 'notContains' },
                                    { label: 'Empieza con', value: 'startsWith' },
                                    { label: 'Termina con', value: 'endsWith' },
                                    { label: 'Es igual a', value: 'equals' },
                                    { label: 'No es igual a', value: 'notEquals' },
                                    { label: 'Es nulo', value: 'isNull' },
                                    { label: 'No es nulo', value: 'isNotNull' }
                                ]">
                                </p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="FormaPago" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Forma de Pago
                                <p-sortIcon field="FormaPago" />
                                <p-columnFilter type="text" field="FormaPago" display="menu" class="ml-auto"
                                    [matchModeOptions]="[
                                    { label: 'Contiene', value: 'contains' },
                                    { label: 'No contiene', value: 'notContains' },
                                    { label: 'Empieza con', value: 'startsWith' },
                                    { label: 'Termina con', value: 'endsWith' },
                                    { label: 'Es igual a', value: 'equals' },
                                    { label: 'No es igual a', value: 'notEquals' },
                                    { label: 'Es nulo', value: 'isNull' },
                                    { label: 'No es nulo', value: 'isNotNull' }
                                ]">
                                </p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="Cliente" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Cliente
                                <p-sortIcon field="Cliente" />
                                <p-columnFilter type="text" field="Cliente" display="menu" class="ml-auto"
                                    [matchModeOptions]="[
                                    { label: 'Contiene', value: 'contains' },
                                    { label: 'No contiene', value: 'notContains' },
                                    { label: 'Empieza con', value: 'startsWith' },
                                    { label: 'Termina con', value: 'endsWith' },
                                    { label: 'Es igual a', value: 'equals' },
                                    { label: 'No es igual a', value: 'notEquals' },
                                    { label: 'Es nulo', value: 'isNull' },
                                    { label: 'No es nulo', value: 'isNotNull' }
                                ]">
                                </p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="CategoriaNombre" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Categoria
                                <p-sortIcon field="CategoriaNombre" />
                                <p-columnFilter type="text" field="CategoriaNombre" display="menu" class="ml-auto"
                                    [matchModeOptions]="[
                                    { label: 'Contiene', value: 'contains' },
                                    { label: 'No contiene', value: 'notContains' },
                                    { label: 'Empieza con', value: 'startsWith' },
                                    { label: 'Termina con', value: 'endsWith' },
                                    { label: 'Es igual a', value: 'equals' },
                                    { label: 'No es igual a', value: 'notEquals' },
                                    { label: 'Es nulo', value: 'isNull' },
                                    { label: 'No es nulo', value: 'isNotNull' }
                                ]">
                                </p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="Concepto" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Concepto
                                <p-sortIcon field="Concepto" />
                                <p-columnFilter type="text" field="Concepto" display="menu" class="ml-auto"
                                    [matchModeOptions]="[
                                    { label: 'Contiene', value: 'contains' },
                                    { label: 'No contiene', value: 'notContains' },
                                    { label: 'Empieza con', value: 'startsWith' },
                                    { label: 'Termina con', value: 'endsWith' },
                                    { label: 'Es igual a', value: 'equals' },
                                    { label: 'No es igual a', value: 'notEquals' },
                                    { label: 'Es nulo', value: 'isNull' },
                                    { label: 'No es nulo', value: 'isNotNull' }
                                ]">
                                </p-columnFilter>
                            </div>
                        </th>



                        <th pSortableColumn="Cuenta" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Cuenta
                                <p-sortIcon field="Cuenta" />
                                <p-columnFilter type="text" field="Cuenta" display="menu" class="ml-auto"
                                    [matchModeOptions]="[
                                    { label: 'Contiene', value: 'contains' },
                                    { label: 'No contiene', value: 'notContains' },
                                    { label: 'Empieza con', value: 'startsWith' },
                                    { label: 'Termina con', value: 'endsWith' },
                                    { label: 'Es igual a', value: 'equals' },
                                    { label: 'No es igual a', value: 'notEquals' },
                                    { label: 'Es nulo', value: 'isNull' },
                                    { label: 'No es nulo', value: 'isNotNull' }
                                ]">
                                </p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="Importe" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Importe
                                <p-sortIcon field="Importe" />
                                <p-columnFilter type="text" field="Importe" display="menu" class="ml-auto"
                                    [matchModeOptions]="[
                                        { label: 'Contiene', value: 'contains' },
                                        { label: 'No contiene', value: 'notContains' },
                                        { label: 'Empieza con', value: 'startsWith' },
                                        { label: 'Termina con', value: 'endsWith' },
                                        { label: 'Es igual a', value: 'equals' },
                                        { label: 'No es igual a', value: 'notEquals' },
                                        { label: 'Es nulo', value: 'isNull' },
                                        { label: 'No es nulo', value: 'isNotNull' }
                                    ]" />
                            </div>
                        </th>
                        <th style="width: 2rem"></th>
                        <th style="width: 2rem"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-ingreso>
                    <tr>
                        <td>{{ ingreso.Fecha }}</td>
                        <td>{{ ingreso.Persona }}</td>
                        <td>{{ ingreso.FormaPago }}</td>
                        <td>{{ ingreso.Cliente }}</td>
                        <td>{{ ingreso.CategoriaNombre }}</td>
                        <td>{{ ingreso.Concepto }}</td>
                        <td>{{ ingreso.Cuenta }}</td>
                        <td style="color: rgb(0, 161, 0) !important;">+{{ ingreso.Importe | currency: 'EUR'}}</td>
                        <td>
                            <p-button pRipple icon="pi pi-pencil" class="mr-2 rounded-button" [rounded]="true"
                                [outlined]="true" severity="success"
                                [routerLink]="['/ingresos/ingreso-detail', ingreso.Id]" />
                        </td>
                        <td>
                            <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                                (click)="showDeleteConfirmationDialog(ingreso.Id)" />
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="12">No se encontraron ingresos con esos filtros</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- Paginador personalizado -->
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="size"
                [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} ingresos">
            </p-paginator>
        </div>
        <!-- En pantallas pequeñas (≥ 576px), ocupa 6 columnas; en otras, ocupa 12 columnas -->
    
        <p-dialog header="Confirmación de Eliminación" [modal]="true" [(visible)]="showConfirmationDialog" (onShow)="addBlur()" (onHide)="removeBlur()" appendTo="body"
            [style]="{ width: '25rem' }" [style.max-width.px]="getDialogWidth()">
            <div style="margin-bottom: 1rem;">
                <!-- Agrega margen en la parte inferior para separar el texto de los botones -->
                <span class="p-text-secondary block">¿Está seguro de que quiere borrar este ingreso?</span>
            </div>
            <div class="">
                <p-button label="Cancelar" [raised]="true" severity="secondary" (click)="showConfirmationDialog = false"
                    class="" />
                <p-button label="Eliminar" [raised]="true" severity="danger" (click)="onDeleteIngreso()" iconPos="right"
                    class="pa-button" icon="pi pi-trash" />
            </div>
        </p-dialog>

    </div>
</div>

<div *ngIf="loading" class="overlay">
    <p-progressSpinner ariaLabel="loading" />
</div>