<header>
    <h2>Bienvenido a tu gestión económica</h2>
</header>

<div class="card">
    <p-card>
        <div class="p-grid">
            <!-- Apartado Ingresos -->
            <div class="p-col-12">
                <div class="card">
                    <h2>Funcionalidades del apartado Ingresos</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">
                            - <strong>Creación y administración de Ingresos:</strong> Aquí puedes añadir nuevos ingresos
                            a tu gestión económica, como salarios, ventas, o cualquier otro tipo de entrada de dinero.
                            Es recomendable crear primero una categoría que describa el tipo de ingreso (por ejemplo,
                            “Salario” o “Ventas”) para una mejor organización.
                        </li>
                        <li class="p-list-group-item">
                            - <strong>Listado completo de todos los Ingresos:</strong> En esta sección, podrás ver un
                            listado detallado de todos tus ingresos. Puedes ordenar esta lista de manera ascendente o
                            descendente, y también filtrar por palabras clave para encontrar rápidamente el ingreso que
                            estás buscando.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Apartado Gastos -->
            <div class="p-col-12">
                <div class="card">
                    <h2>Funcionalidades del apartado Gastos</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">
                            - <strong>Creación y administración de Gastos:</strong> Aquí puedes registrar y gestionar
                            tus gastos, como alquileres, compras o cualquier otra salida de dinero. Al igual que con los
                            ingresos, es útil crear primero una categoría para clasificar estos gastos (por ejemplo,
                            “Ocio” o “Comida”).
                        </li>
                        <li class="p-list-group-item">
                            - <strong>Listado completo de todos los Gastos:</strong> Esta sección muestra un listado de
                            todos tus gastos registrados. Puedes ordenar la lista y utilizar filtros para buscar un
                            gasto específico rápidamente.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Apartado Categorías -->
            <div class="p-col-12">
                <div class="card">
                    <h2>Funcionalidades del apartado Categorías</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">
                            - <strong>Creación y administración de Categorías:</strong> Las categorías te permiten
                            organizar tus ingresos y gastos en grupos específicos. Cada categoría debe tener un nombre
                            <strong>ÚNICO</strong> para evitar confusiones.
                        </li>
                        <li class="p-list-group-item">
                            - <strong>Listado completo de todas las Categorías:</strong> Aquí puedes ver todas las
                            categorías que has creado. Al igual que en otros listados, puedes ordenar y filtrar para
                            encontrar rápidamente la categoría que buscas.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Apartado Concepto -->
            <div class="p-col-12">
                <div class="card">
                    <h2>Funcionalidades del apartado Conceptos</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">
                            - <strong>Creación y administración de Conceptos:</strong> Añade y gestiona conceptos
                            específicos que clasifiquen tus ingresos y gastos. Puedes crear nuevos conceptos, actualizar
                            los existentes o eliminar los que ya no necesites.
                        </li>
                        <li class="p-list-group-item">
                            - <strong>Listado completo de Conceptos:</strong> Consulta la lista de todos los conceptos
                            que has registrado. Ordena y filtra para encontrar el concepto que buscas rápidamente.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Apartado Resumen -->
            <div class="p-col-12">
                <div class="card">
                    <h2>Funcionalidades del apartado Resumen</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">
                            - <strong>Generación de Resúmenes:</strong> En esta sección, puedes ingresar dos fechas para
                            definir un rango de tiempo. El sistema mostrará el total de ingresos, gastos y beneficios
                            para ese periodo específico, y te proporcionará una gráfica para visualizar la información
                            de manera más clara.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Apartado Traspasos -->
            <div class="p-col-12">
                <div class="card">
                    <h2>Funcionalidades del apartado Traspasos</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">
                            - <strong>Creación y administración de Traspasos:</strong> Registra y gestiona las
                            transferencias de dinero entre diferentes cuentas. Por ejemplo, puedes mover fondos de tu
                            cuenta de ahorros a tu cuenta corriente. Asegúrate de especificar las cuentas de origen y
                            destino.
                        </li>
                        <li class="p-list-group-item">
                            - <strong>Listado completo de Traspasos:</strong> Consulta el historial de todos los
                            traspasos realizados. Puedes ordenar y filtrar la lista para revisar transferencias
                            específicas.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Apartado Cuenta -->
            <div class="p-col-12">
                <div class="card">
                    <h2>Funcionalidades del apartado Cuentas</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">
                            - <strong>Creación y administración de Cuentas:</strong> Añade y gestiona tus cuentas
                            bancarias o de caja. Puedes registrar una cuenta nueva, actualizar los detalles de una
                            cuenta existente, o eliminar cuentas que ya no utilizas.
                        </li>
                        <li class="p-list-group-item">
                            - <strong>Listado completo de Cuentas:</strong> Visualiza todas las cuentas que has
                            registrado. Ordena y filtra para encontrar fácilmente la cuenta que necesitas.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Apartado Forma de Pago -->
            <div class="p-col-12">
                <div class="card">
                    <h2>Funcionalidades del apartado Formas de Pago</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">
                            - <strong>Creación y administración de Formas de Pago:</strong> Registra las diferentes
                            formas de pago que utilizas, como efectivo, tarjeta de crédito, o transferencia bancaria.
                            Puedes añadir nuevas formas de pago, actualizar detalles o eliminar formas antiguas.
                        </li>
                        <li class="p-list-group-item">
                            - <strong>Listado completo de Formas de Pago:</strong> Consulta todas las formas de pago
                            disponibles en tu sistema. Ordena y filtra para localizar rápidamente el método de pago
                            deseado.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Apartado Persona -->
            <div class="p-col-12">
                <div class="card">
                    <h2>Funcionalidades del apartado Personas</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">
                            - <strong>Creación y administración de Personas:</strong> Registra y gestiona información
                            sobre personas relacionadas con tu economía, como clientes o proveedores. Puedes añadir
                            nuevas personas, actualizar su información o eliminar registros antiguos.
                        </li>
                        <li class="p-list-group-item">
                            - <strong>Listado completo de Personas:</strong> Visualiza la lista de todas las personas
                            registradas en el sistema. Utiliza las opciones de ordenamiento y filtrado para encontrar
                            rápidamente a la persona que buscas.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Apartado Cliente -->
            <div class="p-col-12">
                <div class="card">
                    <h2>Funcionalidades del apartado Clientes</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">
                            - <strong>Creación y administración de Clientes:</strong> Añade y gestiona la información de
                            tus clientes. Puedes registrar nuevos clientes, actualizar sus detalles o eliminar aquellos
                            que ya no sean relevantes.
                        </li>
                        <li class="p-list-group-item">
                            - <strong>Listado completo de Clientes:</strong> Consulta la lista de todos los clientes que
                            has registrado. Ordena y filtra para encontrar rápidamente a un cliente específico.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Apartado Proveedor -->
            <div class="p-col-12">
                <div class="card">
                    <h2>Funcionalidades del apartado Proveedores</h2>
                    <ul class="p-list-group">
                        <li class="p-list-group-item">
                            - <strong>Creación y administración de Proveedores:</strong> Registra y gestiona la
                            información de tus proveedores. Puedes añadir nuevos proveedores, actualizar detalles o
                            eliminar aquellos que ya no son necesarios.
                        </li>
                        <li class="p-list-group-item">
                            - <strong>Listado completo de Proveedores:</strong> Visualiza la lista de todos los
                            proveedores registrados. Utiliza las opciones de ordenamiento y filtrado para encontrar
                            fácilmente a un proveedor.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </p-card>
</div>