<header>
    <h2>Bienvenido a tu gestión económica</h2>
</header>

<div class="card">

    <!-- Operaciones -->
    <h3><i class="pi pi-calculator mr-2"></i>Operaciones</h3>
    <p-accordion [multiple]="true">
        <!-- Ingresos -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="pi pi-euro mr-2"></i>Ingresos
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item">
                    <strong>Creación y administración de Ingresos:</strong> Añade nuevos ingresos como salarios, ventas
                    o cualquier entrada de dinero.
                </li>
                <li class="p-list-group-item">
                    <strong>Listado completo:</strong> Visualiza un listado con opciones de ordenamiento y filtrado.
                </li>
            </ul>
        </p-accordionTab>

        <!-- Gastos -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="pi pi-wallet mr-2"></i>Gastos
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Registra y gestiona:</strong> tus gastos clasificados por
                    categorías.</li>
                <li class="p-list-group-item"><strong>Listado completo:</strong> con filtros y ordenación.</li>
            </ul>
        </p-accordionTab>

        <!-- Traspasos -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="fas fa-exchange mr-2"></i>Traspasos
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Transferencias:</strong> entre cuentas.</li>
                <li class="p-list-group-item"><strong>Listado completo:</strong> consulta, filtra y ordena los
                    traspasos.</li>
            </ul>
        </p-accordionTab>
    </p-accordion>

    <!-- Gestión de Categorías -->
    <h3 class="mt-4"><i class="pi pi-tag mr-2"></i>Gestión de Categorías</h3>
    <p-accordion [multiple]="true">
        <!-- Categorías -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="pi pi-tags mr-2"></i>Categorías
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Organiza tus movimientos:</strong> en grupos únicos.</li>
                <li class="p-list-group-item"><strong>Listado completo:</strong> con orden y filtro.</li>
            </ul>
        </p-accordionTab>

        <!-- Conceptos -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="pi pi-bookmark mr-2"></i>Conceptos
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Añade, edita o elimina:</strong> conceptos personalizados.</li>
                <li class="p-list-group-item"><strong>Consulta y filtra:</strong> conceptos fácilmente.</li>
            </ul>
        </p-accordionTab>

        <!-- Personas -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="pi pi-users mr-2"></i>Personas
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Clientes y proveedores:</strong> organiza tus contactos.</li>
                <li class="p-list-group-item"><strong>Listado completo:</strong> con filtros y orden.</li>
            </ul>
        </p-accordionTab>

        <!-- Formas de Pago -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="pi pi-credit-card mr-2"></i>Formas de Pago
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Efectivo, tarjeta, etc.:</strong> define métodos de pago.</li>
                <li class="p-list-group-item"><strong>Consulta y gestiona:</strong> fácilmente.</li>
            </ul>
        </p-accordionTab>
    </p-accordion>

    <!-- Clientes y Proveedores -->
    <h3 class="mt-4"><i class="pi pi-users mr-2"></i>Clientes y Proveedores</h3>
    <p-accordion [multiple]="true">
        <!-- Clientes -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="pi pi-user-plus mr-2"></i>Clientes
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Gestión de clientes:</strong> información de contacto y más.</li>
                <li class="p-list-group-item"><strong>Listado completo:</strong> con filtros y orden.</li>
            </ul>
        </p-accordionTab>

        <!-- Proveedores -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="fa fa-handshake mr-2"></i>Proveedores
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Administración:</strong> gestiona proveedores y servicios.</li>
                <li class="p-list-group-item"><strong>Listado completo:</strong> organizado y filtrable.</li>
            </ul>
        </p-accordionTab>

        <!-- Cuentas -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="fa fa-bank mr-2"></i>Cuentas
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Bancarias o de caja:</strong> gestiona tus cuentas.</li>
                <li class="p-list-group-item"><strong>Listado completo:</strong> con filtros y orden.</li>
            </ul>
        </p-accordionTab>
    </p-accordion>

    <!-- Programables -->
    <h3 class="mt-4"><i class="pi pi-chart-line mr-2"></i>Programables</h3>
    <p-accordion>
        <!-- Ingresos Programados -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="pi pi-calendar-plus mr-2"></i>Ingresos Programados
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Agenda:</strong> ingresos repetitivos con frecuencia y fecha de
                    inicio.</li>
                <li class="p-list-group-item"><strong>Gestión:</strong> edita o cancela ingresos programados.</li>
                <li class="p-list-group-item"><strong>Listado completo:</strong> con filtros y ordenamiento.</li>
                <li class="p-list-group-item"><strong>Notificación por email:</strong> cada vez que se ejecute un
                    ingreso programado, recibirás un correo con los detalles y un enlace directo para revisarlo.</li>
            </ul>
        </p-accordionTab>

        <!-- Gastos Programados -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="pi pi-calendar-minus mr-2"></i>Gastos Programados
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Registra pagos periódicos:</strong> con alertas.</li>
                <li class="p-list-group-item"><strong>Modifica o elimina:</strong> según sea necesario.</li>
                <li class="p-list-group-item"><strong>Listado completo:</strong> con filtros y ordenamiento.</li>
                <li class="p-list-group-item"><strong>Notificación por email:</strong> cada vez que se ejecute un
                    gasto programado, recibirás un correo con los detalles y un enlace directo para revisarlo.</li>
            </ul>
        </p-accordionTab>

        <!-- Traspasos Programados -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="pi pi-calendar mr-2"></i>Traspasos Programados
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Automatiza:</strong> transferencias periódicas.</li>
                <li class="p-list-group-item"><strong>Edición y gestión:</strong> fácil de configurar y mantener.</li>
                <li class="p-list-group-item"><strong>Notificación por email:</strong> cada vez que se ejecute un
                    traspaso programado, recibirás un correo con los detalles y un enlace directo para revisarlo.</li>
            </ul>
        </p-accordionTab>
    </p-accordion>

    <!-- Resumen -->
    <h3 class="mt-4"><i class="pi pi-chart-line mr-2"></i>Resumen</h3>
    <p-accordion [multiple]="true">
        <p-accordionTab>
            <ng-template pTemplate="header">
                <i class="pi pi-chart-bar mr-2"></i>Resumen General
            </ng-template>
            <ul class="p-list-group">
                <li class="p-list-group-item"><strong>Gráficas y reportes:</strong> por rango de fechas.</li>
                <li class="p-list-group-item"><strong>Beneficios netos:</strong> entre ingresos y gastos.</li>
            </ul>
        </p-accordionTab>
    </p-accordion>

</div>