@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

app-menu {
    margin: 20px;
    width: 300px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto;
        }
    }

    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }

    .table-header {
        display: flex;
        justify-content: space-between;
    }

    .p-calendar .p-datepicker {
        min-width: 25rem;

        td {
            font-weight: 400;
        }
    }

    .p-datatable.p-datatable-customers {
        .p-datatable-header {
            padding: 1rem;
            text-align: left;
            font-size: 1.5rem;
        }

        .p-paginator {
            padding: 1rem;
        }

        .p-datatable-thead>tr>th {
            text-align: left;
        }

        .p-datatable-tbody>tr>td {
            cursor: auto;
        }

        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
    }

    .p-w-100 {
        width: 100%;
    }

    /* Responsive */
    .p-datatable-customers .p-datatable-tbody>tr>td .p-column-title {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    :host ::ng-deep {
        .p-datatable.p-datatable-customers {

            .p-datatable-thead>tr>th,
            .p-datatable-tfoot>tr>td {
                display: none !important;
            }

            .p-datatable-tbody>tr {
                border-bottom: 1px solid var(--layer-2);

                >td {
                    text-align: left;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    border: 0 none;

                    .p-column-title {
                        min-width: 30%;
                        display: inline-block;
                        font-weight: bold;
                    }

                    p-progressbar {
                        width: 100%;
                    }

                    &:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            }
        }
    }

    .p-button {
        margin-bottom: 10px;
    }
}

.text-danger {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    color: red;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Estilos generales */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos por defecto (modo diurno) */
body {
    background-color: white;
    color: black;
}

body .table {
    background-color: #555 !important;
    color: black !important;
    border: none !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body .table th,
body .table td {
    border: 1px solid #ddd;
    transition: border 0.3s ease;
}

/* Estilos por defecto para el menú */
.p-menubar {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.p-menuitem-link {
    color: #000000;
    transition: color 0.3s ease;
}

.p-badge {
    background-color: #007ad9;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos para el modo nocturno */
body.dark-mode {
    background-color: #555 !important;
    color: white !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .table {
    background-color: #333 !important;
    color: white !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode table td,
th {
    background-color: #333 !important;
    border-collapse: collapse;
    color: white !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body:not(.dark-mode) table th {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
    font-weight: 700;
}

body:not(.dark-mode) table th {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
    font-weight: 700;
}

body:not(.dark-mode) .p-datepicker-calendar {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
    border-collapse: collapse;
}

body:not(.dark-mode) .p-datepicker-calendar-container {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
    border: none;
}

body.dark-mode .p-datatable-header,
body.dark-mode,
body.dark-mode .p-datatable-wrapper,
body.dark-mode thead,
body.dark-mode .p-datatable-thead {
    background-color: #333 !important;
    color: white !important;
    border-color: #555 !important;
    border-radius: 0px;
}

body.dark-mode .p-paginator {
    background-color: #333 !important;
    color: white !important;
    border-radius: 0px 0px 8px 8px;
}

body.dark-mode .p-menubar {
    background-color: #333 !important;
    transition: background-color 0.3s ease;
}

body.dark-mode .p-menuitem-link {
    color: #ffffff !important;
    transition: color 0.3s ease;
}

body.dark-mode .p-badge {
    background-color: #555 !important;
    color: #ffffff !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos para la barra de menú en modo nocturno */
body.dark-mode .p-menubar .p-submenu,
body.dark-mode .p-menubar .p-menuitem {
    background-color: #333 !important;
    transition: background-color 0.3s ease;
}

body.dark-mode .p-menubar .p-menuitem-link {
    color: #ffffff !important;
    transition: color 0.3s ease;
}

/* body.dark-mode .p-menubar .p-menuitem-link:hover {
    background-color: #2b2b2b !important;
    transition: background-color 0.3s ease;
} */

/* Estilos para labels en modo nocturno */
body.dark-mode label {
    color: white !important;
}

/* Estilos para el contenedor de la tarjeta */
body.dark-mode .card .p-fieldset {
    background-color: #1e1e1e !important;
    color: #e0e0e0 !important;
    border: 1px solid #333 !important;
}

/* Estilos para el alert de error */
body.dark-mode .alert.alert-danger {
    background-color: #b71c1c !important;
    color: white !important;
    border-color: #d32f2f !important;
}

/* Estilos para los campos del formulario */
body.dark-mode .p-float-label input {
    background-color: #333 !important;
    color: #e0e0e0 !important;
    border-color: #555 !important;
}

/* Estilos para los mensajes de error */
body.dark-mode .text-danger {
    color: #f44336 !important;
}

body.dark-mode .p-inputwrapper {
    background-color: #333 !important;
    border-color: #555 !important;
}

body.dark-mode .p-inputtext {
    color: white;
}

body.dark-mode .p-fieldset-legend {
    background-color: #333 !important;
    border-color: #555 !important;
    color: white;
}

body.dark-mode table td {
    border: 1px solid #555 !important;
    border-radius: 0px;
}

body.dark-mode table th {
    border-radius: 0px;
}

table th {
    border: none !important;
}

table td {
    border: 1px solid #dee2e6 !important;
}

.p-datepicker-calendar th,
.p-datepicker-calendar td {
    border: none !important;
}

body.dark-mode .p-menubar ul .p-menuitem-link {
    background-color: #333 !important;
    color: white !important;
}

body.dark-mode .p-menubar ul .p-menuitem-link:focus,
body.dark-mode .p-menubar ul .p-menuitem-link:active {
    background-color: #333 !important;
    color: #00bcd4 !important;
}

body.dark-mode .p-menubar ul .p-menuitem-link:hover {
    background-color: #444 !important;
    color: #00bcd4 !important;
}

body.dark-mode ul {
    background-color: #333 !important;
}

body.dark-mode .p-card-body {
    background-color: #444;
}

body.dark-mode .card h2 {
    color: white;
}

body.dark-mode .p-list-group li {
    background-color: #444;
    color: white;
}

body.dark-mode .p-datepicker {
    background-color: #444 !important;
    color: white !important;
}

body.dark-mode td span:focus,
body.dark-mode td span:focus:active {
    background-color: #333 !important;
    color: #00bcd4 !important;
}

body.dark-mode td span:hover {
    background-color: #333;
    background-color: #444 !important;
    color: #00bcd4 !important;
}

body.dark-mode .p-datepicker table td.p-datepicker-today>span {
    background-color: #8b8b8b !important;
}

body.dark-mode .p-datepicker-header {
    background-color: #444 !important;
    color: white !important;
}

body.dark-mode .p-datepicker-title>button {
    background-color: #444 !important;
    color: white !important;
}


body.dark-mode .p-dropdown li:focus,
body.dark-mode .p-dropdown li:focus:active body.dark-mode .p-dropdown li .p-highlight,
body.dark-mode .p-dropdown li:focus-within {
    color: #00bcd4 !important;
    background-color: #444 !important;
}

body.dark-mode .p-dropdown li:hover {
    color: #00bcd4 !important;
    background-color: #444 !important;
}

body.dark-mode .p-dropdown-item div {
    color: white !important;
}

body.dark-mode .p-dropdown-header {
    background-color: #444 !important;
    color: white !important;
    border-bottom: 0 !important;
}

body.dark-mode ul li {
    background-color: #333 !important;
    color: white !important;
}

body.dark-mode ul .p-highlight {
    background-color: #444 !important;
    color: white !important;
}

body.dark-mode .p-column-filter-overlay {
    background-color: #444 !important;
}

body.dark-mode .p-column-filter-operator {
    background-color: #444 !important;

}

body.dark-mode p-columnfilterformelement>.p-inputtext {
    background-color: #444 !important;

}

body.dark-mode .euro-input-container::after {
    content: '€';
    position: absolute;
    right: 1em;
    /* Ajusta la posición del símbolo */
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    /* Ajusta el tamaño del símbolo según sea necesario */
    color: #ffffff;
    /* Ajusta el color del símbolo según sea necesario */
    pointer-events: none;
    /* Asegura que el símbolo no interfiera con la interacción del usuario */
}

.text-success {
    color: green !important;
}

.text-dangerPerso {
    color: red !important;
}

body.dark-mode .p-paginator-current {
    color: white;
}

body.dark-mode .p-paginator button {
    color: white;
}

body.dark-mode .p-paginator button:hover {
    background-color: #555;
}

body.dark-mode .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #2b2b2b !important;
}

body.dark-mode h4 {
    color: white;
}

body.dark-mode .p-dropdown-filter {
    background-color: #444 !important;
}

body.dark-mode {

    .p-dialog,
    .p-confirm-dialog {
        background-color: #1e1e1e;
        color: #f0f0f0;
        border: 1px solid #333;
    }

    .p-dialog .p-dialog-header ,
    .p-confirm-dialog .p-dialog-header {
        background-color: #2a2a2a;
        color: #ffffff;
        margin-bottom: 30px;
    }

    .p-dialog .p-dialog-content,
    .p-confirm-dialog .p-dialog-content {
        background-color: #1e1e1e;
        color: #e0e0e0;
    }

    .p-dialog .p-dialog-footer,
    .p-confirm-dialog .p-dialog-footer {
        background-color: #1e1e1e;
    }

    /* input,
    .p-inputtext {
        background-color: #2b2b2b;
        color: #fff;
        border: 1px solid #555;
    } */

    input:focus,
    .p-inputtext:focus {
        border-color: #888;
        box-shadow: 0 0 0 0.2rem rgba(100, 149, 237, 0.25);
    }

    .p-confirm-dialog .p-confirm-dialog-icon {
        color: #f0ad4e;
    }
}

.enlace {
    color: #005bb5;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    outline-offset: 2px;
}

.enlace:hover,
.enlace:focus {
    color: #007dff;
    text-decoration: underline;
}

body.dark-mode {
    .enlace {
        color: #80bfff;

        &:hover {
            color: #aad4ff;
        }
    }
}

body.dark-mode .p-text-secondary{
    color: white;
}

body.blur-background app-root {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
  transition: filter 0.3s ease;
}

body.dark-mode .p-multiselect-header {
  background-color: #333; /* color oscuro de ejemplo */
  color: #eee; /* si quieres también cambiar el texto */
}

body.dark-mode .p-multiselect-filter{
    background-color: #333;
    color: white;
}